<h3>
    {% capture packets %}
        {{packets}}
        <li><a href="#0x{{include.id}}"><strong>0x{{include.id}}</strong>: {{include.name}}</a></li>
    {% endcapture %}
    <span id="{{include.id}}"></span>
    <span id="0x{{include.id}}"></span>
    0x{{include.id}}: {{include.name}}
    {% if include.direction %}
        {% if include.direction == "client-to-server" %}
            {% include client-to-server.html %}
        {% else if include.direction == "server-to-client" %}
            {% include server-to-client.html %}
        {% else if include.direction == "bidirectional" %}
            {% include bidirectional.html %}
        {% endif %}
    {% endif %}
</h3>
