<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/stylesheet.css" rel="stylesheet">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Starbound-Dev</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/networking.html">Networking</a></li>
                    </ul>
                </div>
            </nav>
            {{ content }}
        </div>
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
    </body>
</html>
